/* Modify measures for responsive design */

@media (max-width: 600px) {
    body {
        width: 100%;
    }
    #header--logo {
        margin: 24px;
    }
    #header--name-area {
        margin: 24px;
    }
    #header--logo {
        margin: 24px;
    }
}


/* ------------------------- BODY SECTION --------------------- */

body {
    color: #262626;
    margin: 0;
    padding: 0;
}


/* ------------------------- HEADER SECTION ------------------- */

header {
    background: #fff;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
    display: flex;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 99;
}


/* Adding another layer of header */

header::after {
    background: rgba(255, 255, 255, .5);
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
}

header>main {
    z-index: 4;
    position: absolute;
    width: 100%;
}

.l-outer {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
}

.l-inner {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.l-inner__name-area {
    text-align: center;
}

#c-logo {
    width: 100px;
    height: auto;
    transition: all .1s ease-out;
    margin: 6px;
}


/* Make the hover animation on the logo */

#c-logo:hover {
    transform: scale(1.1);
}

#c-primary {
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

#c-secondary {
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}


/* Make the compass rotate */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

#c-compass {
    font-size: 24px;
    text-align: center;
    margin-left: 6px;
    animation: rotate 2s infinite linear;
}

#c-login {
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    margin: 24px;
    border-color: #e6e6e6;
    background-color: #fff;
    color: #262626;
}

#c-login:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}


/* Styling elements of the sign-in form */

.form-group {
    position: relative;
    top: 1em;
}

.form-group__field {
    width: 100%;
    margin-bottom: 15px;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.form-group__placeholder {
    position: absolute;
    top: 0;
    left: 5px;
    transition: all 200ms;
    color: rgba(0, 0, 0, 0.5)
}

#form-group__lock {
    position: absolute;
    border: 0;
    background: 0;
    top: 4px;
    right: 2px;
}

.form-group__field:focus+.form-group__placeholder,
.form-group__field:valid+.form-group__placeholder {
    transform: translate3d(0, -100%, 0);
    color: rgb(4, 91, 230);
}


/* ------------------------ MAIN SECTION -------------------------- */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 80px;
}

.c-post {
    width: 600px;
    background: #fff;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0, auto));
    grid-gap: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}


/* Hiding the first mock-up post */

.c-post:first-child {
    display: none;
}

.c-post__header {
    display: grid;
    grid-template-columns: 1.2fr 5fr;
    grid-auto-rows: minmax(0, auto);
    margin: auto 1em auto 1em;
}

.c-post__avatar {
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 1em;
    width: 8em;
    height: 8em;
}

.c-post__main-text {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    margin-right: 1em;
    margin-top: 1em;
    padding: 0.2em;
}

.c-post__title {
    grid-column: 1/2;
    font-size: 20px;
    font-weight: bold;
}
.c-post__new-title {
    width: 85%;
}

.fas {
    font-size: 20px;
    margin-left: 0.5em;
}

.fa-language {
    font-size: 30px;
}


/* Make the language symbol shake */

@keyframes shake {
    0%,
    100% {
        transform: rotateZ(-20deg);
    }
    50% {
        transform: rotateZ(20deg);
    }
}

.l-post__translate {
    grid-column: 2/3;
    padding-right: 0.3em;
    max-width: 40px;
    max-height: 30px;
}

.translate-language {
    background: transparent;
    width: inherit;
    height: auto;
    border: 0;
    margin-right: 3rem;
}

.js-translate-icon {
    background: url(../img/language.png) no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
}

.c-translate-icon--shake {
    animation: shake 0.5s infinite linear;
}

.c-translate-icon--no-border {
    border: 0;
    /* background-color: inherit; */
}

.c-post__info {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    margin-top: 0.5em;
    padding: 0.2em;
    font-size: 14px;
}

img {
    width: 100%;
    height: 100%;
}

.c-post__photo {
    text-align: center;
    max-width: 600px;
    max-height: 100%;
    margin: auto 1em auto 1em;
}

.c-post__emo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr;
    padding-right: 0.2em;
    position: relative;
    margin: auto 1em auto 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#footer-1 {
    grid-column: 1/2;
}

#footer-4 {
    grid-column: 4/5;
    text-align: right;
    padding-right: 0.3em;
    margin-right: 2em;
    padding-bottom: 0.5em;
}

.c-post__comment {
    margin: 0.1em 0.5em -1.5em 0.5em;
    padding: 0.3em;
    text-align: left;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}

.c-comment__text {
    grid-column: 1/2;
    border: 1px solid rgba(119, 119, 119, 0.3);
    border-radius: 25px;
    width: 100%;
    padding: 7px 20px;
}

.c-comment__text:focus {
    outline: 0;
    box-shadow: 0 0 3pt 2pt lightskyblue;
}

.c-comment__button {
    position: relative;
    top: -35px;
    grid-column: 2/3;
    opacity: 0.5;
    padding-right: 1em;
    position: relative;
    float: right;
}

.fa-paper-plane {
    color: grey;
    float: right;
}
