@media (max-width: 600px) {
    body {
        width: 100%;
    }
    #header--logo {
        margin: 24px;
    }
    #header--name-area {
        margin: 24px;
    }
    #header--logo {
        margin: 24px;
    }
}

body {
    color: #262626;
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
    display: flex;
}

.header__outer {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.header__inner {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header__inner__logo {
    width: 100px;
    height: auto;
    transition: all .1s ease-out;
}

#header__inner__logo:hover {
    transform: scale(1.1);
}

#header__inner__name-area {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#header__inner__name-area__left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header__inner__name-area__left__primary {
    font-family: Arial;
    font-size: 18px;
    text-align: center;
}

#header__inner__name-area__left__secondary {
    font-family: Arial;
    font-size: 14px;
    text-align: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

#header__inner__name-area__compass {
    font-size: 24px;
    text-align: center;
    margin: 6px;
    animation: rotate 0.3s infinite linear;
}

#header__outer__login {
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    border-color: #e6e6e6;
    margin: 24px;
}

.form-group {
    position: relative;
    top: 1em;
}

.form-group__field {
    width: 100%;
    margin-bottom: 15px;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.form-group__placeholder {
    position: absolute;
    top: 0;
    left: 5px;
    transition: all 200ms;
    color: rgba(0, 0, 0, 0.5)
}

#form-group__lock {
    position: absolute;
    border: 0;
    background: 0;
    top: 4px;
    right: 2px;
}

.form-group__field:focus+.form-group__placeholder,
.form-group__field:valid+.form-group__placeholder {
    transform: translate3d(0, -100%, 0);
    color: rgb(4, 91, 230);
}

main {
    display: flex;
    justify-content: center;
    background-color: black;
}

.main__post-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.main__post-layout__post {
    background-color: rgb(22, 111, 212);
    height: 600px;
    display: grid;
    grid-template-rows: 2fr 8fr 1fr 2fr;
    grid-gap: 1em;
}

.main__post-layout__post__header {
    background-color: aqua;
    display: grid;
    grid-template-column: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
}

.main__post-layout__post__header_avatar {
    background-color: green;
    grid-column: 1;
}

img {
    width: 100%;
    height: 100%;
}

.main__post-layout__post__img {
    background-color: red;
}

.main__post-layout__post__footer {
    background-color: beige;
}

.main__post-layout__post__comment {
    background-color: purple;
}